<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Włącz użytkownika</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form th:action="@{/user/admin/enable}" method="POST">
        <div><label> User Name : <input type="text" name="user_name"/> </label></div>
        <div><input type="submit" value="Odblokuj go!"/></div>
    </form>
</div>
</body>
</html>